@charset "UTF-8";
/* ＝＝＝メインビジュアルなし＝＝＝ */

/* ===NEWS一覧セクションここから=== */
.news {
  margin-top: 310px;
  padding: 0 12em;
}

.common_title_small_jp {
  font-family: "Noto Sans JP";
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #222;
  padding-bottom: 8px;
}

.common_title {
  color: #1b1c80;
  font-family: "Oswald", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 64px;
}
.common_title::before {
  content: "";
  display: block;
  width: 16%;
  height: 3px;
  background-color: #d9d9d9;
}
.news_box_content {
  border-bottom: solid 1px #d9d9d9;
  padding-top: 45px;
  padding-bottom: 50px;
}

.news_box_content:first-child {
  border-top: solid 1px #d9d9d9;
  margin-top: 120px;
}

.news_box_content a {
  text-decoration: none;
  padding: 10px 0;
}

.news_box_content span {
  display: inline-block;
  background-color: #d9d9d9;
  border-radius: 6px;
  padding: 4px 20px;
}

.news_box_content time {
  display: inline-block;
  margin-left: 1.5vw;
}

.news_box_content p {
  display: inline-block;
  margin-left: 1vw;
  margin-top: 14px;
  font-size: 16px;
}
.news_box_content:last-child {
  margin-bottom: 110px;
}

/*==================== ↓メディアクエリによるレスポンシブここから↓ ==========================*/
/* レスポンシブ（1040px） */

@media (max-width: 1040px) {
  .news {
    margin-top: 250px;
    padding: 0 10em;
  }
  .gnavi {
    padding: 0 10em;
  }
}

/* レスポンシブ（940px） */

@media (max-width: 940px) {
  .news {
    margin-top: 250px;
    padding: 0 8em;
  }
  .gnavi {
    padding: 0 8em;
  }
}
/* レスポンシブ（768px）*/
@media (max-width: 768px) {
  .news {
    margin-top: 210px;
    padding: 0 5em;
  }
  .news_box_content:first-child {
    margin-top: 80px;
  }
  .news_box_content p {
    font-size: 15px;
  }
  .gnavi {
    padding: 0 5em;
  }
}

/* スマホ（570px）レスポンシブ ここから ボタンパネルtablet版からSP版に切り替え*/
@media (max-width: 570px) {
  .news {
    padding: 0 4em;
  }
  .news_box_content p {
    font-size: 14px;
  }
  .gnavi {
    padding: 0 4em;
  }
}

/* スマホ（470px）レスポンシブ */
@media (max-width: 470px) {
  .news {
    margin-top: 180px;
    padding: 0 3em;
  }
  .news_box_content:first-child {
    margin-top: 50px;
  }
  .news_box_content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .gnavi {
    padding: 0 3em;
  }
}
/* スマホ（400px）レスポンシブ */
@media (max-width: 400px) {
  .news_box_content p {
    font-size: 13px;
  }
}
