@charset "UTF-8";
/*==================================================
右から左へ複数の画像を流して見せるスライダーのためのcss
===================================*/
.slider img {
  width: 100%; /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin: 0 10px; /*スライド左右の余白調整*/
}

/*==================== ↓メディアクエリによるレスポンシブここから↓ ==========================*/

@media (min-width: 1471px) {
  .slick-dots {
    bottom: 10px;
  }
}

/* レスポンシブ（1470px） mvスライダーのdots位置*/
@media (max-width: 1470px) {
  .slick-dots {
    bottom: 35px;
  }
}

/* レスポンシブ（1300px） mvスライダーのdots位置*/
@media (max-width: 1300px) {
  .slick-dots {
    bottom: 90px;
  }
}

/* レスポンシブ（1270px） mvスライダーのdots位置*/
@media (max-width: 1270px) {
  .slick-dots {
    bottom: 90px;
  }
}

/* レスポンシブ（1200px） mvスライダーのdots位置*/
@media (max-width: 1200px) {
  .slick-dots {
    bottom: 140px;
  }
}
/* レスポンシブ（1100px） mvスライダーのdots位置*/
@media (max-width: 1100px) {
  .slick-dots {
    bottom: 250px;
  }
}

/* レスポンシブ（940px） mvスライダーのdots位置*/
@media (max-width: 940px) {
  .slick-dots {
    bottom: 310px;
  }
}

/* レスポンシブ（840px） mvスライダーのdots位置*/
@media (max-width: 840px) {
  .slick-dots {
    display: none;
  }
}
