@charset "UTF-8";
/* TOPのProductsセクションのみに該当するボタン位置 */
.notion {
  margin: 20% 22%;
}
.notion_text {
  margin-bottom: 20px;
}
/*==================== ↓メディアクエリによるレスポンシブここから↓ ==========================*/

/* レスポンシブ（768px）ここからコンセプトのimg2もなし、コンセプト、bridalfair、フッターはスマホverへ */
@media (max-width: 768px) {
.notion {
    margin: 25% 20%;
  }
    .notion_text {
      margin-bottom: 20px;
      font-size: 13px;
    }
}

/* スマホ（470px）レスポンシブ Achivementの大見出し80px以下に調整*/
@media (max-width: 470px) {
  .top_mv_title {
    position: absolute;
    top: 76%;
    left: 41%;
  }
  .top_mv_headline_SP {
    display: block;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.1em;
  }
  .top_mv_description {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.1rem;
    line-height: 1.4em;
    margin-top: 11px;
    white-space: normal;
  }
  .concept {
    margin-top: 76px;
    padding-left: 2em;
  }
  .concept_title {
    font-size: 50px;
  }
  .concept_text {
    font-size: 14px;
    font-weight: 400;
    padding-top: 25px;
    padding-right: 2em;
  }
  .technology {
    margin-top: 180px;
    padding-left: 2em;
  }
  .technology_title {
    font-size: 50px;
  }
  .technology_text {
    font-size: 14px;
    font-weight: 400;
    padding-top: 2px;
    padding-right: 2em;
  }
  .technology_gnavi {
    margin-top: 80px;
  }
  .feature {
    margin-top: 82px;
    padding-left: 2em;
  }
  .feature_lead_sentencs {
    font-size: 17px;
    font-weight: 500;
  }
  .howitworks {
    margin-top: 126px;
  }
  .authentification_flow {
    font-size: 14px;
  }
  .feature_text {
    font-size: 14px;
    padding-top: 10px;
  }
  .howitworks_box_for_img {
    width: 100%;
  }
  .products {
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 90px;
  }
  .products_title {
    font-size: 50px;
  }
  .products_name {
    margin-left: 4px;
    font-size: 32px;
  }

  .products_text {
    font-size: 16px;
    margin-top: 34px;
    margin-left: 14px;
    margin-bottom: 24px;
  }

  .news {
    margin-top: 110px;
    padding-left: 3em;
    padding-right: 3em;
  }
  .news_text {
    font-size: 14px;
    font-weight: 400;
  }

  .achievements {
    margin-top: 78px;
    padding-left: 3em;
    padding-right: 3em;
  }
  .achievements_title {
    font-size: 50px;
    margin-top: 110px;
  }
  .achievements_text {
    font-size: 14px;
  }
}
/* スマホ（400px）レスポンシブ */
@media (max-width: 400px) {
  .top_mv_title {
    position: absolute;
    top: 73%;
    left: 43%;
  }
  .technology {
    margin-top: 110px;
    padding-left: 2em;
  }
  .howitworks {
    margin-top: 110px;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .technology_gnavi {
    margin-top: 60px;
  }
  .products {
    margin-top: 80px;
  }
}
/* スマホ（375px）レスポンシブ */
@media (max-width: 375px) {
  .top_mv_title {
    position: absolute;
    top: 72%;
    left: 45%;
  }
  .technology_gnavi_text {
    font-size: 14px;
  }
  .news {
    margin-top: 78px;
    padding-left: 2em;
    padding-right: 2em;
  }

  .achievements {
    margin-top: 78px;
    padding-left: 2em;
    padding-right: 2em;
  }

  .achievements_minibox_text {
    width: 75%;
    padding: 20px 10px;
  }
}
