@charset "UTF-8";

.news_archive {
  list-style: none;
  padding: 0;
  margin: 0;

  .news_item {
    border-bottom: 1px solid #ddd;
    padding-top: 45px;
    padding-bottom: 50px;
    
// 一番目の .news_item にだけ上部に余白120pxを追加
  &:first-child {
    margin-top: 120px;
    border-top: 1px solid #d9d9d9;
  }
    a {
      display: flex;
      align-items: center;
      flex-wrap: wrap; // スマホ対応
      text-decoration: none;
      color: inherit;

      .news_label {
        display: inline-block;
        background-color: #d1d1d1;
        color: #000;
        font-weight: 400;
        font-size: 15px;
        padding: 4px 12px;
        border-radius: 6px;
        margin-right: 16px;
        margin-bottom: 6px;
        white-space: nowrap;
      }

      time {
        font-size: 15px;
        color: #333;
        margin-right: 20px;
        white-space: nowrap;
      }

      .news_text {
        font-size: 15px;
        color: #000;
        flex: 1;
        min-width: 200px;
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 8px;

  .page-numbers {
    display: inline-block;
    display: flex;
    padding: 8px 12px;
    background-color: transparent;
    color: #1b1c80;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s;

    &:hover {
      background-color: #d1d1d1;
      color: #fff;
    }

    &.current {
      background-color: #1b1c80;
      color: #fff;
      pointer-events: none;
    }
  }
}

/*==================== ↓メディアクエリによるレスポンシブここから↓ ==========================*/
/* レスポンシブ（1040px） */

@media (max-width: 1040px) {
  .news {
    margin-top: 250px;
    padding: 0 10em;
  }
  .gnavi {
    padding: 0 10em;
  }
}

/* レスポンシブ（940px） */

@media (max-width: 940px) {
  .news {
    margin-top: 250px;
    padding: 0 8em;
  }
  .gnavi {
    padding: 0 8em;
  }
}
/* レスポンシブ（768px）*/
@media (max-width: 768px) {
  .news {
    margin-top: 210px;
    padding: 0 5em;
  }
  .news_item:first-child {
    margin-top: 80px;
  }
  .news_text {
    font-size: 15px;
  }
  .gnavi {
    padding: 0 5em;
  }
}

/* スマホ（570px）レスポンシブ ここから ボタンパネルtablet版からSP版に切り替え*/
@media (max-width: 570px) {
  .news {
    padding: 0 4em;
  }
  .news_text {
    font-size: 14px;
  }
  .gnavi {
    padding: 0 4em;
  }
}

/* スマホ（470px）レスポンシブ */
@media (max-width: 470px) {
  .news {
    margin-top: 180px;
    padding: 0 3em;
  }
  .news_item:first-child {
    margin-top: 50px;
  }
  .news_item {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .gnavi {
    padding: 0 3em;
  }
}
/* スマホ（400px）レスポンシブ */
@media (max-width: 400px) {
  .news_text {
    font-size: 13px;
  }
}
