@charset 'UTF-8';
/* ＝＝＝メインビジュアル＝＝＝ */

/* mv上に配置のキャッチコピー */
.technology_mv {
  position: relative;
  width: 100%;
}

.mv_technology_tablet {
  display: none;
}

.mv_technology_SP {
  display: none;
}

.technology_mv_title {
  position: absolute;
  top: 67%;
  left: 32%;
  z-index: 1;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.technology_mv_headline {
  color: #fff;
  letter-spacing: .4em;
  font-weight: 500;
  font-style: normal;
  font-size: 58px;
  font-family: 'Oswald', serif;
}

.technology_mv_description {
  margin-top: 40px;
  color: #fff;
  letter-spacing: .5rem;
  font-size: 20px;
  line-height: 1.7em;
}

/* ===メインビジュアルここまで=== */

/* ===メインタイトル「血流認証とは」セクションここから=== */
.main_title {
  margin-top: 160px;
  padding: 0 12em;
}

.common_title_small_jp {
  padding-bottom: 8px;
  color: #222;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  font-family: 'Noto Sans JP';
}

.common_title {
  color: #1b1c80;
  font-weight: 600;
  font-style: normal;
  font-size: 64px;
  font-family: 'Oswald', serif;
}
.common_title::before {
  content: '';
  display: block;
  width: 16%;
  height: 3px;
  background-color: #d9d9d9;
}
.common_text {
  padding-top: 42px;
  color: #222;
  letter-spacing: .5em;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  font-family: 'Noto Sans JP';
  line-height: 1.8em;
}

/* ===「血流認証とは」の説明セクションここから=== */
.explanation_vessel {
  position: relative;
  margin-top: 100px;
}
.background_img_vessel_PC {
  width: 100%;
}
.background_img_vessel_tablet {
  display: none;
}
.background_img_vessel_SP {
  display: none;
}
.explanation_box {
  position: absolute;
  top: 27vh;
  left: 40vw;
  margin-right: 5%;
  padding: 4% 4%;
  background-color: #fff;
  opacity: .87;
}
.explanation_headline {
  padding-left: 10px;
  border-left: solid 3px #b9b9b9;
  color: #222;
  letter-spacing: .5em;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  font-family: 'Noto Sans JP';
  line-height: 1.8em;
}
.explanation_text {
  margin-top: 20px;
  color: #222;
  letter-spacing: .5em;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  font-family: 'Noto Sans JP';
  line-height: 1.8em;
}
/* ===「血流認証の仕組み」セクションここから=== */
.howitworks_vessel {
  margin-top: 200px;
}
.howitworks_vessel_headline_box {
  padding: 0 12em;
}
.howitworks_vessel_headline {
  padding-left: 10px;
  border-left: solid 3px #b9b9b9;
  color: #222;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  font-family: 'Noto Sans JP';
}
.howitworks_vessel_video_box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.howitworks_vessel_video_box video {
  margin-top: 80px;
  width: 65%;
}
.howitworks_vessel_text_box {
  margin-top: 110px;
  padding: 0 12em;
}
.howitworks_vessel_text_first {
  letter-spacing: .5em;
  font-weight: 500;
  line-height: 1.4em;
}

.howitworks_vessel_text_second {
  margin-top: 47px;
  margin-bottom: 140px;
  letter-spacing: .5em;
  font-weight: 500;
  line-height: 1.4em;
}
/* ===「命と暮らしを守る私たちの技術」の説明セクションここから=== */
.explanation_our_technology {
  position: relative;
  margin-top: 210px;
  margin-bottom: 40px;
}
.background_img_our_technology_PC {
  width: 100%;
}
.background_img_our_technology_tablet {
  display: none;
}
.background_img_our_technology_SP {
  display: none;
}
.explanation_box_our_technology {
  position: absolute;
  top: 24vh;
  right: 26vw;
  padding: 5% 6%;
  background-color: #fff;
  opacity: .87;
}
.explanation_headline_our_technology {
  padding-left: 10px;
  border-left: solid 3px #b9b9b9;
  color: #222;
  letter-spacing: .5em;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  font-family: 'Noto Sans JP';
  line-height: 1.8em;
}
.explanation_text_our_technology {
  margin-top: 20px;
  color: #222;
  letter-spacing: .5em;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  font-family: 'Noto Sans JP';
  line-height: 1.8em;
}

/*==================== ↓メディアクエリによるレスポンシブここから↓ ==========================*/
/* レスポンシブ（1440px以下） */
@media (max-width: 1440px) {
  .technology_mv_title {
    position: absolute;
    top: 67%;
    left: 37%;
    z-index: 1;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }
  .main_title {
    margin-top: 160px;
    padding: 0 11em;
  }
  .howitworks_vessel {
    margin-top: 160px;
  }
  .howitworks_vessel_headline_box {
    padding: 0 12em;
  }
  .howitworks_vessel_text_box {
    padding: 0 12em;
  }
}
/* レスポンシブ（1300px） */
@media (max-width: 1300px) {
  .main_title {
    margin-top: 160px;
    padding: 0 10em;
  }

  .common_text {
    padding-top: 42px;
    letter-spacing: .4em;
    font-size: 18px;
    line-height: 1.7em;
  }
  .explanation_box {
    position: absolute;
    top: 13vh;
    left: 40vw;
    margin-right: 5%;
    padding: 4% 4%;
  }
  .howitworks_vessel {
    margin-top: 160px;
  }
  .howitworks_vessel_headline_box {
    padding: 0 10em;
  }
  .howitworks_vessel_text_box {
    padding: 0 10em;
  }

  .explanation_box_our_technology {
    top: 16vh;
    right: 26vw;
    padding: 5% 6%;
  }
}
/* レスポンシブ（1200px） */
@media (max-width: 1200px) {
  .technology_mv_title {
    position: absolute;
    top: 67%;
    left: 39%;
    z-index: 1;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }
  .main_title {
    margin-top: 160px;
    padding: 0 6em;
  }

  .common_text {
    padding-top: 42px;
    letter-spacing: .4em;
    font-size: 18px;
    line-height: 1.7em;
  }
  .explanation_box {
    position: absolute;
    top: 11vh;
    left: 40vw;
    margin-right: 3%;
    padding: 4% 4%;
  }
  .explanation_text {
    margin-top: 20px;
    color: #222;
    letter-spacing: .4em;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    font-family: 'Noto Sans JP';
    line-height: 1.6em;
  }
  .howitworks_vessel {
    margin-top: 160px;
  }
  .howitworks_vessel_headline_box {
    padding: 0 6em;
  }
  .howitworks_vessel_video_box video {
    margin-top: 80px;
    width: 75%;
  }

  .howitworks_vessel_text_box {
    padding: 0 6em;
  }

  .explanation_box_our_technology {
    top: 11vh;
    right: 26vw;
    padding: 5% 6%;
  }

  .explanation_text_our_technology {
    margin-top: 20px;
    letter-spacing: .4em;
    line-height: 1.6em;
  }
}
/* レスポンシブ（1040px） */
@media (max-width: 1040px) {
  .technology_mv_title {
    position: absolute;
    top: 65%;
    left: 41%;
    z-index: 1;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }
  .technology_mv_description {
    margin-top: 30px;
    letter-spacing: .2em;
    font-size: 20px;
  }
  .common_text {
    padding-top: 42px;
    letter-spacing: .4em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8em;
  }
  .explanation_box {
    position: absolute;
    top: 6vh;
    left: 40vw;
    margin-right: 3%;
  }
  .explanation_text {
    margin-top: 15px;
    color: #222;
    letter-spacing: .3em;
    font-size: 15px;
    line-height: 1.5em;
  }
  .explanation_box_our_technology {
    top: 5vh;
    right: 26vw;
    padding: 5% 6%;
  }

  .explanation_text_our_technology {
    margin-top: 20px;
    letter-spacing: .3em;
    line-height: 1.5em;
  }
}

/* レスポンシブ（940px） */
@media (max-width: 940px) {
  .technology_mv_title {
    position: absolute;
    top: 67%;
    left: 40%;
    z-index: 1;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }
  .technology_mv_description {
    margin-top: 20px;
    letter-spacing: .2em;
    font-size: 20px;
  }
  .main_title {
    margin-top: 160px;
    padding: 0 4em;
  }
  .explanation_box {
    position: absolute;
    top: 4vh;
    left: 40vw;
    margin-right: 3%;
  }

  .explanation_text {
    margin-top: 15px;
    color: #222;
    letter-spacing: .3em;
    font-size: 14px;
    line-height: 1.5em;
  }
  .howitworks_vessel {
    margin-top: 160px;
  }
  .howitworks_vessel_headline_box {
    padding: 0 4em;
  }
  .howitworks_vessel_text_box {
    padding: 0 4em;
  }

  .explanation_our_technology {
    position: relative;
    margin-top: 160px;
    margin-bottom: 40px;
  }

  .explanation_box_our_technology {
    top: 9vh;
    right: 18vw;
    padding: 5% 6%;
  }

  .explanation_text_our_technology {
    font-size: 14px;
  }
}
/* レスポンシブ（860px）ここから */

@media (max-width: 860px) {
  .mv_technology_PC {
    display: none;
  }

  .mv_technology_tablet {
    position: relative;
    z-index: -1;
    display: block;
    overflow: hidden;
  }
  .technology_mv_title {
    position: absolute;
    top: 73%;
    left: 45%;
    z-index: 1;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }
  .technology_mv_description {
    margin-top: 15px;
    letter-spacing: .2em;
    font-size: 18px;
  }
  .main_title {
    margin-top: 160px;
    padding: 0 3em;
  }
  .common_title {
    color: #1b1c80;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    font-family: 'Oswald', serif;
    line-height: 1.2;
  }
  .common_text {
    padding-top: 42px;
    letter-spacing: .2em;
    font-size: 16px;
    line-height: 1.8em;
  }
  .background_img_vessel_PC {
    display: none;
  }
  .background_img_vessel_tablet {
    display: block;
    width: 100%;
  }
  .explanation_box {
    position: absolute;
    top: 22vh;
    left: 28vw;
    margin-right: 3%;
  }
  .explanation_text {
    margin-top: 15px;
    color: #222;
    letter-spacing: .3em;
    font-size: 14px;
    line-height: 1.6em;
  }
  .howitworks_vessel {
    margin-top: 160px;
  }
  .howitworks_vessel_headline_box {
    padding: 0 3em;
  }
  .howitworks_vessel_text_box {
    padding: 0 3em;
  }

  .background_img_our_technology_PC {
    display: none;
  }

  .background_img_our_technology_tablet {
    display: block;
    width: 100%;
  }
  .explanation_box_our_technology {
    top: 7vh;
    right: 15vw;
    padding: 5% 6%;
  }

  .explanation_text_our_technology {
    line-height: 1.6em;
  }
}
/* レスポンシブ（768px）ここから mvキャッチコピーホワイトに変更*/
@media (max-width: 768px) {
  .technology_mv_title {
    position: absolute;
    top: 73%;
    left: 40%;
    z-index: 1;
    white-space: nowrap;
    transform: translate(-50%, -50%);
  }

  .technology_mv_headline {
    letter-spacing: .3em;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    font-family: 'Oswald', serif;
  }

  .technology_mv_description {
    margin-top: 20px;
    white-space: normal;
    letter-spacing: .1em;
    font-size: 15px;
  }
  .main_title {
    margin-top: 130px;
    padding: 0 2em;
  }
  .explanation_vessel {
    position: relative;
    margin-top: 70px;
  }

  .common_title {
    color: #1b1c80;
    font-weight: 600;
    font-style: normal;
    font-size: 58px;
    font-family: 'Oswald', serif;
    line-height: 1.2;
  }
  .common_text {
    padding-top: 32px;
    letter-spacing: .1em;
    font-size: 16px;
    line-height: 1.8em;
  }
  .explanation_box {
    position: absolute;
    top: 7vh;
    left: 28vw;
    margin-right: 3%;
  }

  .explanation_text {
    margin-top: 15px;
    color: #222;
    letter-spacing: .3em;
    font-size: 14px;
    line-height: 1.6em;
  }
  .howitworks_vessel {
    margin-top: 130px;
  }
  .howitworks_vessel_headline_box {
    padding: 0 3em;
  }
  .howitworks_vessel_video_box video {
    margin-top: 80px;
    width: 78%;
  }

  .howitworks_vessel_text_box {
    padding: 0 3em;
  }

  .howitworks_vessel_text_first {
    letter-spacing: .3em;
    font-size: 14px;
    line-height: 1.6em;
  }
  .howitworks_vessel_text_second {
    margin-top: 47px;
    margin-bottom: 100px;
    letter-spacing: .3em;
    font-size: 14px;
    line-height: 1.6em;
  }
  .explanation_our_technology {
    margin-top: 130px;
  }

  .explanation_box_our_technology {
    top: 6vh;
    right: 16vw;
    padding: 4% 4%;
  }
  .explanation_headline_our_technology {
    padding-left: 10px;
    color: #222;
    letter-spacing: .4em;
    font-size: 20px;
    line-height: 1.8em;
  }
  .explanation_text_our_technology {
    margin-top: 15px;
    letter-spacing: .3em;
    line-height: 1.6em;
  }
}
/* レスポンシブ（680px）ここから */
@media (max-width: 680px) {
  .mv_technology_tablet {
    display: none;
  }

  .mv_technology_SP {
    position: relative;
    z-index: -1;
    display: block;
    overflow: hidden;
  }
  .technology_mv_title {
    position: absolute;
    top: 74%;
    left: 40%;
  }
  .technology_mv_headline {
    letter-spacing: .2em;
    font-size: 46px;
  }
  .common_text {
    padding-top: 32px;
    letter-spacing: .1em;
    font-size: 15px;
    line-height: 1.5em;
  }
  .background_img_vessel_tablet {
    display: none;
  }
  .background_img_vessel_SP {
    display: block;
    width: 100%;
  }
  .explanation_box {
    position: absolute;
    top: 13vh;
    left: 28vw;
    margin-right: 3%;
  }
  .explanation_headline {
    color: #222;
    letter-spacing: .4em;
    font-size: 20px;
    line-height: 1.8em;
  }

  .explanation_text {
    margin-top: 15px;
    color: #222;
    letter-spacing: .3em;
    font-size: 14px;
    line-height: 1.6em;
  }
  .howitworks_vessel_headline {
    color: #222;
    letter-spacing: .4em;
    font-size: 20px;
    line-height: 1.8em;
  }
  .howitworks_vessel_video_box video {
    margin-top: 80px;
    width: 80%;
  }

  .background_img_our_technology_tablet {
    display: none;
  }
  .background_img_our_technology_SP {
    display: block;
    width: 100%;
  }
  .explanation_box_our_technology {
    top: 5vh;
    right: 27vw;
    padding: 4% 4%;
  }
}

/* スマホ（570px）レスポンシブ ここから ボタンパネルtablet版からSP版に切り替え*/
@media (max-width: 570px) {
  .technology_mv_title {
    position: absolute;
    top: 72%;
    left: 39%;
  }
  .technology_mv_headline {
    letter-spacing: .1em;
    font-size: 44px;
  }
  .common_title {
    font-weight: 600;
    font-size: 54px;
    line-height: 1.2em;
  }
  .explanation_box {
    position: absolute;
    top: 7vh;
    left: 28vw;
    margin-right: 3%;
  }

  .explanation_text {
    margin-top: 15px;
    color: #222;
    letter-spacing: .3em;
    font-size: 13px;
    line-height: 1.6em;
  }
  .howitworks_vessel_video_box video {
    margin-top: 80px;
    width: 90%;
  }

  .howitworks_vessel_text_first {
    font-size: 13px;
  }
  .howitworks_vessel_text_second {
    font-size: 13px;
  }

  .explanation_box_our_technology {
    top: 2vh;
    right: 16vw;
    padding: 4% 4%;
  }

  .explanation_headline_our_technology {
    padding-left: 10px;
    color: #222;
    letter-spacing: .3em;
    font-size: 19px;
    line-height: 1.6em;
  }

  .explanation_text_our_technology {
    font-size: 13px;
  }
}
/* スマホ（470px）レスポンシブ */
@media (max-width: 470px) {
  .technology_mv_title {
    position: absolute;
    top: 70%;
    left: 39%;
  }
  .technology_mv_headline {
    letter-spacing: .2em;
  }
  .technology_mv_description {
    margin-top: 5px;
    white-space: normal;
    font-size: 14px;
  }
  .main_title {
    margin-top: 110px;
    padding: 0 2em;
  }
  .explanation_vessel {
    position: relative;
    margin-top: 55px;
  }

  .explanation_box {
    position: absolute;
    top: 1vh;
    left: 28vw;
    margin-right: 3%;
  }
  .explanation_text {
    margin-top: 10px;
    color: #222;
    letter-spacing: .2em;
    font-size: 13px;
    line-height: 1.6em;
  }
  .howitworks_vessel_video_box video {
    margin-top: 80px;
    width: 100%;
  }
  .howitworks_vessel_text_box {
    margin-top: 90px;
  }
  .howitworks_vessel_text_first {
    letter-spacing: .2em;
    font-size: 13px;
    line-height: 1.6em;
  }
  .howitworks_vessel_text_second {
    letter-spacing: .2em;
    font-size: 13px;
    line-height: 1.6em;
  }

  .explanation_box_our_technology {
    top: 2vh;
    right: 2vw;
    padding: 4% 4%;
  }

  .explanation_text_our_technology {
    letter-spacing: .2em;
  }
}
/* スマホ（400px）レスポンシブ */
@media (max-width: 400px) {
  .technology_mv_title {
    position: absolute;
    top: 70%;
    left: 41%;
  }
  .technology_mv_description {
    line-height: 1.5em;
  }

  .main_title {
    margin-top: 95px;
    padding: 0 2em;
  }
  .explanation_vessel {
    position: relative;
    margin-top: 45px;
  }

  .explanation_box {
    position: absolute;
    top: 1vh;
    left: 28vw;
    margin-right: 3%;
  }

  .explanation_headline {
    color: #222;
    letter-spacing: .4em;
    font-size: 18px;
    line-height: 1.5em;
  }

  .explanation_text {
    margin-top: 8px;
    color: #222;
    letter-spacing: .1em;
    font-size: 13px;
    line-height: 1.6em;
  }
  .howitworks_vessel_headline {
    color: #222;
    letter-spacing: .4em;
    font-size: 18px;
    line-height: 1.5em;
  }
  .howitworks_vessel_text_box {
    margin-top: 60px;
  }

  .howitworks_vessel_text_second {
    margin-top: 47px;
    margin-bottom: 80px;
    font-weight: 500;
  }
  .explanation_our_technology {
    margin-top: 90px;
  }

  .explanation_box_our_technology {
    top: 0vh;
    right: 2vw;
    padding: 3% 4%;
  }
  .explanation_headline_our_technology {
    padding-left: 10px;
    color: #222;
    letter-spacing: .3em;
    font-size: 18px;
    line-height: 1.6em;
  }

  .explanation_text_our_technology {
    letter-spacing: .1em;
    font-size: 13px;
  }
}
/* スマホ（375px）レスポンシブ */
@media (max-width: 375px) {
  .technology_mv_title {
    position: absolute;
    top: 69%;
    left: 50%;
  }
  .explanation_box {
    position: absolute;
    top: 1vh;
    left: 28vw;
    margin-right: 3%;
    padding: 3% 3%;
  }

  .explanation_headline {
    color: #222;
    letter-spacing: .4em;
    font-size: 18px;
    line-height: 1.5em;
  }

  .explanation_text {
    margin-top: 8px;
    color: #222;
    letter-spacing: .1em;
    font-size: 12px;
    line-height: 1.6em;
  }
  .howitworks_vessel_text_first {
    letter-spacing: .2em;
    font-size: 12px;
    line-height: 1.6em;
  }
  .howitworks_vessel_text_second {
    letter-spacing: .2em;
    font-size: 12px;
    line-height: 1.6em;
  }

  .explanation_text_our_technology {
    letter-spacing: .1em;
    font-size: 12px;
  }
}


// スライダー
@charset 'UTF-8';
/*==================================================
右から左へ複数の画像を流して見せるスライダーのためのcss
===================================*/
.slider-technology img {
  width: 100%; /*スライダー内の画像を横幅100%に*/
  height: auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider-technology .slick-slide {
  margin: 0 10px; /*スライド左右の余白調整*/
}

/*==================== ↓メディアクエリによるレスポンシブここから↓ ==========================*/

@media (min-width: 1471px) {
  .slider-technology .slick-dots {
    bottom: 10px;
  }
}

/* レスポンシブ（1470px） mvスライダーのdots位置*/
@media (max-width: 1470px) {
  .slider-technology .slick-dots {
    bottom: 35px;
  }
}

/* レスポンシブ（1300px） mvスライダーのdots位置*/
@media (max-width: 1300px) {
  .slider-technology .slick-dots {
    bottom: 90px;
  }
}

/* レスポンシブ（1270px） mvスライダーのdots位置*/
@media (max-width: 1270px) {
  .slider-technology .slick-dots {
    bottom: 90px;
  }
}

/* レスポンシブ（1200px） mvスライダーのdots位置*/
@media (max-width: 1200px) {
  .slider-technology .slick-dots {
    bottom: 140px;
  }
}
/* レスポンシブ（1100px） mvスライダーのdots位置*/
@media (max-width: 1100px) {
  .slider-technology .slick-dots {
    bottom: 250px;
  }
}

/* レスポンシブ（940px） mvスライダーのdots位置*/
@media (max-width: 940px) {
  .slider-technology .slick-dots {
    bottom: 310px;
  }
}

/* レスポンシブ（840px） mvスライダーのdots位置*/
@media (max-width: 840px) {
  .slider-technology .slick-dots {
    display: none;
  }
}
