/* ↓ABOUT USセクション TOPページはmargin-top122px 他ページは適宜調整*/
.aboutus {
  margin-top: 122px;
}
.wrp_aboutus {
  display: flex;
}

.aboutus_inner_gradation {
  background: rgb(11, 37, 90);
  background: linear-gradient(
    11deg,
    rgba(11, 37, 90, 1) 24%,
    rgba(75, 119, 209, 1) 100%
  );
  width: 60%;
  padding-left: 8em;
  padding-top: 93px;
}

.aboutus_title {
  display: inline;
  color: #ffffff;
  font-family: "Oswald", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 70px;
}

.aboutus_title::before {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  background-color: #d9d9d9;
}

.aboutus_container {
  display: flex;
  padding-top: 55px;
  column-gap: 2em;
}

.aboutus_box_left {
  width: 25%;
  margin-right: 2%;
}
.aboutus_box_right {
  width: 25%;
}
.aboutus_list li {
  color: #fff;
  border-bottom: solid 1px;
  padding-bottom: 30px;
  font-size: 16px;
}

/* リスト内の２番目から最後までを指定する */
.aboutus_list li:nth-child(n + 2) {
  padding-top: 32px;
}

.aboutus_inner_img {
  width: 40%;
}
.aboutus_inner_img img {
  width: 100;
  height: 100%;
  object-fit: cover;
}

/* 共通ボタン */
.button_area_aboutus {
  margin-top: 60px;
  margin-bottom: 8em;
  display: flex;
}

.button {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  justify-content: center;
  font-size: 20px;

  color: #222222;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.6s ease 0s;
  stroke: #222222;
  border: solid 1px;
  background-color: #fff;
  padding: 10px 65px;
  display: block;
}


/* フッター */
.footer {
  background-color: #f5f0dc;
  font-size: 15px;
}
.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  display: block;
  height: 69px;
  width: auto;
}

.footer_box_left {
  width: 40%;
  background-color: #fff;
  padding-top: 8em;
  padding-left: 9em;
  padding-bottom: 5em;
}

.footer_box_right {
  width: 60%;
  background-color: #eef1f2;
  padding-top: 8em;
  padding-left: 9em;
  padding-right: 7em;
  padding-bottom: 16em;
}

.companyinfo_list_address {
  margin-top: 24px;
}

.companyinfo_list_tel_fax {
  margin-top: 11px;
}

.footer_minibox_right {
  display: flex;
  align-items: center;
}

.contact_title {
  display: inline;
  color: #1b1c80;
  font-family: "Oswald", serif;
  font-weight: 600;
  font-style: normal;

  font-size: 70px;
}
.copy_right {
  background-color: #444;
  height: 40px;
}
.copy_right_text {
  font-size: 15px;
  text-align: right;
  color: #fff;
  padding-top: 10px;
  padding-right: 40px;
}
/* ホバーしたときに矢印が動く速度 */
.contact_arrow_link .arrow {
  transition: 0.6s;
}

/* contact_arrow_link（aのクラス名）がホバーした時に、矢印を右に20px移動させる */
.contact_arrow_link:hover .arrow {
  transform: translateX(20px);
}

.arrow {
  height: 18px;
  width: 46px;
}

/* レスポンシブ（1440px） フッター右側調整のみ*/
@media (max-width: 1440px) {
  .footer_box_right {
    padding-left: 7em;
  }
}
/* レスポンシブ（1230px） フッター左右調整*/
@media (max-width: 1230px) {
  .footer_box_right {
    padding-left: 5em;
  }
  .footer_box_left {
    padding-left: 4em;
  }
}
/* レスポンシブ（1080px） フッター左右調整*/
@media (max-width: 1080px) {
  .footer_box_right {
    padding-left: 4em;
  }

  .footer_box_left {
    padding-left: 3em;
  }
}

/* レスポンシブ（1040px）ヘッダー、ABOUT USセクション、フッター：レスポンシブデザインに切り替え */
@media (max-width: 1040px) {
  .footer_container {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer_box_right {
    width: 100%;
    background-color: #eef1f2;
    padding-top: 5em;
    padding-bottom: 9em;

    padding-left: 8em;
  }

  .footer_box_left {
    display: flex;
    width: 100%;
    background-color: #fff;
    padding-top: 5em;
    padding-left: 9em;
  }
    .button_area {
    margin-top: 80px;
    margin-bottom: 190px;
  }
  .wrp_aboutus {
    flex-direction: column;
    justify-content: center;
  }

  .aboutus_inner_gradation {
    width: 100%;
  }

  .aboutus_inner_img {
    display: none;
  }


  .button_area {
    margin-bottom: 180px;
  }
  .copy_right {
    background-color: #444;
    height: 38px;
  }

  .copy_right_text {
    font-size: 13px;
    text-align: right;
    color: #fff;
    padding-top: 10px;
    padding-right: 30px;
  }

}
/* レスポンシブ（860px） */

@media (max-width: 860px) {
  .contact_title {
    font-size: 68px;
  }
    .aboutus_title {
    font-size: 64px;
  }

}

/* レスポンシブ（768px）フッターはスマホverへ */
@media (max-width: 768px) {

  .footer_box_right {
    padding-left: 5em;
  }
  .footer_box_left {
    display: flex;
    padding-left: 5em;
  }
  .companyinfo_list_address {
    margin-top: 12px;
  }
    .aboutus_inner_gradation {
    padding-left: 6em;
    padding-top: 93px;
  }
  .aboutus_list li {
    color: #fff;
    border-bottom: solid 1px;
    padding-bottom: 30px;
    font-size: 14px;
  }

}
/* スマホ（680px）レスポンシブ */
@media (max-width: 680px) {

  .contact_title {
    font-size: 64px;
  }
    .aboutus_title {
    font-size: 60px;
  }

}
/* スマホ（570px）レスポンシブ */
@media (max-width: 570px) {
  .contact_text {
    margin-top: 10px;
  }
  .footer {
    font-size: 14px;
  }

  .copy_right {
    height: 30px;
  }

  .copy_right_text {
    font-size: 10px;
    text-align: right;
    color: #fff;
    padding-top: 10px;
    padding-right: 20px;
  }
}
/* スマホ（470px）レスポンシブ */
@media (max-width: 470px) {
  .contact_title {
    font-size: 54px;
  }

  .footer {
    font-size: 13px;
  }

  .footer_box_right {
    padding-left: 3em;
  }
  .footer_box_left {
    display: flex;
    padding-left: 4em;
  }
    .aboutus_title {
    font-size: 50px;
  }

  .aboutus_inner_gradation {
    padding-left: 3em;
    padding-top: 93px;
  }

}

/* スマホ（420px）レスポンシブ */
@media (max-width: 420px) {
  .footer {
    font-size: 12px;
  }
}
