@charset "UTF-8";
/* ＝＝＝メインビジュアルなし＝＝＝ */
/* パンくずリスト */
.breadcrumb {
  margin-top: 120px;
  padding: 0 12em;
}

.breadcrumb ul {
  display: flex;
  font-size: 12px;
}
.breadcrumb li {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.breadcrumb li + li::before {
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  transform: rotate(-45deg);
  margin-right: 5px;
}
.breadcrumb li span {
  color: #b4b4b4;
}
/* ===記事セクションここから=== */
/* タイトル、サブタイトル、テキストはページ内共通 */
.article {
  margin-top: 60px;
  padding: 0 12em;
}
.article_container {
  border-top: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  padding-top: 40px;
  padding-bottom: 60px;
}
.article_paragraph_second {
  margin-top: 40px;
}
.article_paragraph_third {
  margin-top: 40px;
}
.article_picture_box {
  display: flex;
  column-gap: 3%;
  justify-content: center;
  margin-top: 30px;
}
.article_picture_first {
  width: 40%;
}
.article_picture_second {
  width: 40%;
}
.article_picture_complement {
  text-align: center;
}
.article_paragraph_fourth {
  margin-top: 10px;
}
.article_picture_third {
  width: 80%;
}

.article_box span {
  display: inline-block;
  background-color: #d9d9d9;
  border-radius: 6px;
  padding: 4px 20px;
}

.article_box time {
  display: inline-block;
  margin-left: 1.5vw;
}

.article_box p {
  display: inline-block;
  margin-left: 1vw;
  margin-top: 14px;
  font-size: 24px;
  font-weight: 600;
}
.article_content {
  margin: 40px 0;
}
.article_minibox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_content_inquiries {
  margin-top: 40px;
}
/*==================================================
共通　横並びのための設定
===================================*/

.gnavi {
  display: flex;
  flex-wrap: wrap;
  /*スマホ表示折り返し用なのでPCのみなら不要*/
  margin: 50px 0 50px 0;
  list-style: none;
  padding: 0 12em;
}

.gnavi li a {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: #333;
}
/*==================================================
5-3-3 左から右に線が伸びる（テキストの下部）ここから↓
===================================*/
.gnavi li a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
}

/* .gnavi li.current a, */
.gnavi li a:hover {
  color: #333;
}

.gnavi li a::after {
  content: "";
  /*絶対配置でテキスト下に配置する線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 1%;
  /*線の形状*/
  width: 99%;
  height: 3px;
  background: #1b1c80;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: left top;
  /*左上基点*/
}

/*hoverの設定*/
.gnavi li a:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}
/*==================================================
　左から右に縁で囲われる（矢印の周囲）
===================================*/
.gnavi li span a {
  /*線の基点とするためrelativeを指定*/
  position: relative;
  margin-right: 2%;
}

.gnavi li span a::after {
  content: "";
  /*絶対配置で矢印の周囲に配置する丸線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 45px;
  height: 45px;
  border: solid 3px #1b1c80;
  border-radius: 50%;
  background: transparent;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 0);
  /*X方向0、Y方向1*/
  transform-origin: center;
  /*左上基点*/
}
/* ホバーしたときに小さな矢印が動く速度 */
.news_arrow_link .small_arrow {
  transition: 0.3s;
}

/* news_arrow_link（aのクラス名）がホバーした時に、小さな矢印を右に8px移動させる */
.news_arrow_link:hover .small_arrow {
  transform: translateX(8px);
}
/* ホバー時に出現させるためのJSで追加される hover-effect クラス付与、「news一覧へ」テキスト下線と「→」円の同時出現 */
.gnavi li a.hover-effect::after {
  transform: scale(1, 1);
}

.gnavi li span a.hover-effect::after {
  transform: scale(1, 1);
}

/* 矢印も移動させたい場合は以下も追加 */
.news_arrow_link.hover-effect .small_arrow {
  transform: translateX(8px);
}
/* ===============================================
ここまで↑左から右に縁で囲われる（矢印の周囲） */
/*==================== ↓メディアクエリによるレスポンシブここから↓ ==========================*/
/* レスポンシブ（1440px以上） */
@media (min-width: 1440px) {
  .article {
    margin-top: 60px;
    padding: 0 14em;
  }
}
/* レスポンシブ（1440px以下） */
@media (max-width: 1440px) {
  .breadcrumb {
    margin-top: 120px;
    padding: 0 10em;
  }
  .article {
    margin-top: 60px;
    padding: 0 10em;
  }
  .gnavi {
    padding: 0 10em;
  }
}
/* レスポンシブ（1040px） */

@media (max-width: 1040px) {
  .article_content_img {
    width: 70%;
  }
} /* レスポンシブ（940px） */

@media (max-width: 940px) {
  .breadcrumb {
    margin-top: 120px;
    padding: 0 8em;
  }
  .article {
    margin-top: 60px;
    padding: 0 8em;
  }
  .gnavi {
    padding: 0 8em;
  }
}
/* レスポンシブ（768px）ここから mvキャッチコピーホワイトに変更*/
@media (max-width: 768px) {
  .breadcrumb {
    margin-top: 120px;
    padding: 0 5em;
  }
  .article {
    margin-top: 60px;
    padding: 0 5em;
  }
  .article_container {
    border-top: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .article_content_img {
    width: 80%;
  }
  .article_box p {
    display: inline-block;
    margin-left: 1vw;
    margin-top: 14px;
    font-size: 20px;
    font-weight: 600;
  }
  .article_paragraph_first {
    font-size: 14px;
  }
  .article_paragraph_second {
    font-size: 14px;
  }
  .article_paragraph_third {
    font-size: 14px;
  }
  .normal_order_list {
    font-size: 14px;
  }
  .article_picture_box {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .article_picture_first {
    width: 70%;
  }
  .article_picture_second {
    display: none;
  }
  .article_paragraph_fourth {
    font-size: 14px;
  }
  .circled_order_list {
    font-size: 14px;
  }
  .article_content_inquiries {
    font-size: 14px;
  }

  .gnavi {
    padding: 0 5em;
  }
}

/* スマホ（570px）レスポンシブ ここから ボタンパネルtablet版からSP版に切り替え*/
@media (max-width: 570px) {
  .breadcrumb {
    margin-top: 120px;
    padding: 0 4em;
  }
  .breadcrumb ul {
    font-size: 10px;
    flex-direction: column;
  }
  .article {
    margin-top: 30px;
    padding: 0 4em;
  }
  .article_content_img {
    width: 90%;
  }
  .gnavi {
    padding: 0 4em;
  }
}
/* スマホ（470px）レスポンシブ */
@media (max-width: 470px) {
  .breadcrumb {
    margin-top: 120px;
    padding: 0 3em;
  }
  .article {
    padding: 0 3em;
  }
  .article_content_img {
    width: 100%;
  }
  .article_paragraph_first {
    font-size: 13px;
  }

  .article_paragraph_second {
    font-size: 13px;
  }
  .article_picture_first {
    width: 80%;
  }
  .article_picture_third {
    width: 90%;
  }
  .article_paragraph_third {
    font-size: 13px;
  }
  .normal_order_list {
    font-size: 13px;
  }

  .article_paragraph_fourth {
    font-size: 13px;
  }
  .circled_order_list {
    font-size: 13px;
  }
  .article_content_inquiries {
    font-size: 13px;
  }

  .gnavi {
    padding: 0 3em;
  }
}
/* スマホ（400px）レスポンシブ */
@media (max-width: 400px) {
  .article_picture_first {
    width: 90%;
  }

  .article_picture_third {
    width: 100%;
  }
}
